html {
  min-height: 100%;
  background-image: url(bg2.jpg);
  background-size: cover;
  font-family: Montserrat;
}

h2 {
  font-family: Titillium Web;
}


a {
  text-decoration: none !important;
}

.nav {
  border: none;
  border-radius: 10px;
  background-color: black;
  width: 70%;
  height: auto;
  margin: auto;
  padding: 10px;
  margin-bottom: 50px;
}

.nav button {
  background: none;
  font-size: 22px;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
  margin-right: 30px;;
  border: none;
}

.nav button:hover{
  border-radius: 5px;
  box-shadow: 0 2px 1px white;
  transition: border 0.2s, box-shadow 0.2s;
}

.nav button:active{
  border-radius: 5px;
  box-shadow: 0 2px 1px red;
  transition: border 0.2s, box-shadow 0.2s;
}

.nav a {
  color: white;
}

.nav i {
  float: right;
  padding: 5px;
}

.nav .icon:hover {
  box-shadow: 2px 2px 1px blue;
}

.nav .icon:active {
  box-shadow: 2px 2px 1px red;
}

.icons {
  cursor: pointer;
}

.container {
  width: 96%;
  height: 90%;
  margin: auto;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 35px;
}

.container-backgrounds {
  width: 65%;
  margin: auto;
  padding: 0;
  background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
  border-radius: 15px;
}

p {
  line-height: 1.5;
  text-align: center;
}

li {
  margin-bottom: 8px;
}
